body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px 10px;
}

header {
    background-color:  #c43434;
    text-align: center;
    padding: 10px 10px;
    color: aliceblue;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    background-color: #c43434;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 5px;
    padding: 10px 0;
}

nav a {
    color: aliceblue;
    text-decoration: none;
    padding: 8px 16px;
}

nav a:hover {
    background-color: #d5646c;
}

section {
    display: flex;
    align-items: center;
    padding: 10px;
}

.column-layout {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.video-container {
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px;
}

.column-right {
    background-color: #c43434;
    color: aliceblue;
    padding: 10px;
    align-items: center;
    width: 100%;
}

.column-right1 {
    padding: 10px;
    align-items: center;
    width: 100%;
}

.column-left {
    padding: 10px;
    align-items: center;
    width: 100%;
}

.column-left1 {
    background-color: #c43434;
    color: aliceblue;
    padding: 10px;
    align-items: center;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    color:rgb(85, 84, 84);
    text-align: center;
    padding: 2px 2px;
    font-size: 13px;
}

@media all and (max-width: 768px) {
    .column-layout, .column-left, .column-left1, .column-right, .column-right1, .video-container {
        display: block;
        width: 100%;
        padding: 0;
        margin: auto;
        float: none;
    }
}
