body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px 10px;
}

header {
    background-color:  #c43434;
    text-align: center;
    padding: 10px 10px;
    color: aliceblue;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    background-color: #c43434;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 5px;
    padding: 10px 0;
}

nav a {
    color: aliceblue;
    text-decoration: none;
    padding: 8px 16px;
}

nav a:hover {
    background-color: #d5646c;
}

section {
    display: flex;
    align-items: center;
    padding: 10px;
}

.column-layout {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 10px;
}


.video-container {
    display: flex;
    width: 100%;
    height: auto;
}

.column-right, .column-left1 {
    background-color: #c43434;
    color: aliceblue;
    padding: 10px;
    align-items: center;
    width: 100%;
}

.column-left, .column-right {
    padding: 10px;
    align-items: center;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    color:rgb(85, 84, 84);
    text-align: center;
    padding: 2px 2px;
    font-size: 13px;
}

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
